@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@media screen and (max-width: 768px) {
  html {
    font-size: 13px; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 12px; } }

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  width: 100%;
  position: relative; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

label, button {
  cursor: pointer; }

button {
  border: none;
  background: none; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }
  .wrapper .maincontent {
    height: 100%;
    width: 100%;
    position: relative; }
    .wrapper .maincontent .section {
      width: 100%;
      height: 100vh;
      min-height: 40.625rem;
      background-color: rgba(0, 0, 0, 0.31); }
      .wrapper .maincontent .section .container {
        max-width: 58.75rem;
        width: 95%;
        margin: 0 auto; }
        @media screen and (max-width: 480px) {
          .wrapper .maincontent .section .container {
            width: 95%; } }
        @media screen and (max-width: 768px) {
          .wrapper .mainсontent .section .container {
            width: 95%; } }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 0.3125rem;
  background-color: #e25028;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8125rem;
  line-height: 1.42;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  text-transform: uppercase;
  font-family: 'ubuntumedium'; }
  .order-link:hover {
    background-color: #ab3717; }

.hero {
  padding-top: 0.3125rem;
  background: url(../img/bg/bg1.jpg) center no-repeat;
  background-size: cover;
  position: relative; }
  .hero:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/bg/texture.png);
    z-index: 1;
    opacity: .5; }
  .hero .hero__container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .hero .hero__container .header {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      z-index: 2; }
      .hero .hero__container .header .nav .nav__item {
        display: inline-block; }
        .hero .hero__container .header .nav .nav__item:after {
          display: inline-block;
          vertical-align: middle;
          content: ' ';
          width: 0.25rem;
          height: 0.25rem;
          border-radius: 0.125rem;
          background-color: #fff;
          margin-left: 0.75rem;
          margin-right: 0.75rem; }
        .hero .hero__container .header .nav .nav__item:last-child:after {
          display: none; }
        .hero .hero__container .header .nav .nav__item .nav__link {
          color: #fff;
          text-decoration: none;
          display: inline-block;
          text-transform: uppercase;
          font-size: 0.8125rem;
          font-family: "ubuntumedium"; }
          .hero .hero__container .header .nav .nav__item .nav__link:hover {
            text-decoration: underline; }

.header {
  position: relative; }

.header__menu {
  position: absolute;
  right: 14%; }
  @media screen and (max-width: 768px) {
    .header__menu {
      display: none; } }

.hero__content {
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-bottom: 15%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }
  @media screen and (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.section__title {
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: 100;
  line-height: 1.42;
  margin: 0;
  font-family: "gagalinregular"; }
  @media screen and (max-width: 768px) {
    .section__title {
      text-align: center; } }

.hero__img {
  width: 100%; }

.hero__img-block {
  max-width: 25rem; }
  @media screen and (max-width: 768px) {
    .hero__img-block {
      max-width: 37.5rem; } }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 25rem;
  margin-left: 50px; }
  @media screen and (max-width: 768px) {
    .hero__description {
      text-align: center;
      width: 100%;
      margin: 0 auto; } }
  .hero__description .hero__description-text {
    color: #fff;
    font-size: 4.0625rem;
    font-weight: 100;
    line-height: 1;
    font-family: 'lifehackmedium';
    letter-spacing: -0.0625rem; }
    @media screen and (max-width: 768px) {
      .hero__description .hero__description-text {
        margin: 0 auto;
        width: 95%; } }
    @media screen and (max-width: 480px) {
      .hero__description .hero__description-text {
        font-size: 3.25rem; } }

.hero__arrow-scroll {
  z-index: 2;
  -webkit-transform: translate(0, -2.5rem);
  -ms-transform: translate(0, -2.5rem);
  transform: translate(0, -2.5rem); }
  .hero__arrow-scroll:hover {
    -webkit-transform: translate(0, -2.1875rem);
    -ms-transform: translate(0, -2.1875rem);
    transform: translate(0, -2.1875rem);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }

.arrow-scroll__link svg {
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3); }

.header__burger-menu {
  display: none; }
  @media screen and (max-width: 768px) {
    .header__burger-menu {
      display: block;
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
      cursor: pointer; } }

@media screen and (max-width: 768px) {
  .order-link--hero {
    display: none; } }

.hidden-menu {
  height: 0;
  overflow: hidden;
  font-size: 24px;
  text-align: center; }
  .hidden-menu .nav__item:before {
    content: '';
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 0.1875rem;
    background-color: #fff;
    display: block;
    margin-bottom: 30px;
    margin-left: 45px; }
  .hidden-menu .nav__item:first-child:before {
    display: none; }

.cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 20px;
  display: none; }

@media screen and (max-width: 768px) {
  .visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #2f3234;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%; }
    .visible .cross {
      display: block; }
      .visible .cross .close.icon {
        color: white;
        position: absolute;
        margin-top: 0;
        margin-left: 0;
        width: 21px;
        height: 21px;
        left: -2.5rem;
        top: 0; } }
      @media screen and (max-width: 768px) and (max-width: 480px) {
        .visible .cross .close.icon {
          left: -0.625rem;
          top: 0; } }

@media screen and (max-width: 768px) {
      .visible .cross .close.icon:before {
        content: '';
        position: absolute;
        top: 10px;
        width: 25px;
        height: 4px;
        background-color: currentColor;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .visible .cross .close.icon:after {
        content: '';
        position: absolute;
        top: 10px;
        width: 25px;
        height: 4px;
        background-color: currentColor;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
    .visible .nav__item {
      margin-bottom: 30px; }
    .visible .header__logo {
      width: 100px;
      height: 100px;
      background: url(../img/icons/logo.svg) center no-repeat;
      z-index: 3;
      position: absolute;
      top: 0;
      left: 20px; }
    .visible .nav__link {
      color: white;
      text-decoration: none; } }

.header__logo {
  width: 100px;
  height: 100px;
  background: url(../img/icons/logo.svg) center no-repeat;
  z-index: 3; }

.menu.icon {
  color: white;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 25px;
  height: 4px;
  background-color: currentColor;
  border-radius: 100px;
  right: 1.25rem;
  top: -1.25rem; }
  @media screen and (max-width: 480px) {
    .menu.icon {
      right: 0rem;
      top: -1.5625rem; } }

.menu.icon:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: 25px;
  height: 4px;
  background-color: currentColor;
  border-radius: 100px; }

.menu.icon:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 25px;
  height: 4px;
  background-color: currentColor;
  border-radius: 100px; }

.best {
  background: url(../img/bg/bg2.jpg) center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .best .best__caption {
    color: #2f3234;
    font-weight: 300;
    font-size: 4.5rem;
    font-family: 'gagalinregular';
    text-align: center;
    margin-bottom: 2.1875rem; }
  .best .best__container {
    max-width: 58.75rem;
    width: 95%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media screen and (max-width: 480px) {
      .best .best__container {
        width: 95%; } }
    @media screen and (max-width: 768px) {
      .best .best__container {
        width: 95%; } }
  .best .best__features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .best .best__features {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center; } }
    .best .best__features .features__block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .best .best__features .features__block:nth-child(2) {
        margin: 0 20px 0 20px; }
        @media screen and (max-width: 480px) {
          .best .best__features .features__block:nth-child(2) {
            margin: 0; } }
      @media screen and (max-width: 480px) {
        .best .best__features .features__block {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          text-align: left; } }

.features__undercaption {
  color: #2f3234;
  font-size: 1.5075rem;
  font-family: 'lifehackmedium'; }

.features__underblock {
  color: #6e6f6f;
  font-size: 0.87562rem;
  font-family: 'ubuntulight';
  line-height: 1.6;
  margin-bottom: 1.875rem; }
  @media screen and (max-width: 480px) {
    .features__underblock {
      margin-bottom: 0; } }

.features__underblock:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.features__underblock--svg {
  width: 6.25rem;
  height: 5.625rem; }
  @media screen and (max-width: 480px) {
    .features__underblock--svg {
      width: 11.25rem;
      height: 11.25rem;
      margin-right: 1.25rem; } }

.features__block:nth-child(1) .features__underblock--svg {
  background: url(../img/icons/meat.svg) center no-repeat;
  background-size: contain; }

.features__block:nth-child(2) .features__underblock--svg {
  background: url(../img/icons/hand.svg) center no-repeat;
  background-size: contain; }

.features__block:nth-child(3) .features__underblock--svg {
  background: url(../img/icons/natural.svg) center no-repeat;
  background-size: contain; }

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews .pp-tableCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__comments {
  position: relative;
  padding: 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: gray;
  width: 25%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  @media screen and (max-width: 768px) {
    .reviews__comments {
      width: 50%;
      height: 25vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 5%; } }

.reviews__comments:nth-child(1) {
  background: url(../img/content/photo8.jpg) 50% 30% no-repeat;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .reviews__comments:nth-child(1) {
      background: url(../img/content/photo8.jpg) 50% 50% no-repeat;
      background-size: cover; } }

.reviews__comments:nth-child(2) {
  background: url(../img/content/photo7.jpg) center no-repeat;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .reviews__comments:nth-child(2) {
      background: url(../img/content/photo7.jpg) 50% 10% no-repeat;
      background-size: cover; } }

.reviews__comments:nth-child(3) {
  background: url(../img/content/photo6.jpg) 65% 15% no-repeat;
  background-size: 300%; }
  @media screen and (max-width: 768px) {
    .reviews__comments:nth-child(3) {
      background: url(../img/content/photo6.jpg) 60% 20% no-repeat;
      background-size: 200%; } }

.reviews__comments:nth-child(4) {
  background: url(../img/content/photo1.jpg) 80% 100% no-repeat;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .reviews__comments:nth-child(4) {
      background: url(../img/content/photo1.jpg) 0% 0% no-repeat;
      background-size: cover; } }

.reviews__comments:nth-child(5) {
  background: url(../img/content/photo5.jpg) center no-repeat;
  background-size: cover; }

.reviews__comments:nth-child(6) {
  background: url(../img/content/photo4.jpg) 30% 100% no-repeat;
  background-size: cover; }

.reviews__comments:nth-child(7) {
  background: url(../img/content/photo3.jpg) center no-repeat;
  background-size: cover; }

.reviews__comments:nth-child(8) {
  background: url(../img/content/photo2.jpg) center no-repeat;
  background-size: cover; }

.comments__button {
  background: #2f3234;
  text-align: center;
  padding: 0.875rem 0.9375rem 0.875rem 1.25rem;
  border-radius: 0.3125rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-family: 'ubuntumedium'; }
  @media screen and (max-width: 768px) {
    .comments__button {
      margin: 0 auto; } }
  .comments__button:hover {
    background: #1f2122; }

.comments__caption {
  font-family: 'gagalinregular';
  font-size: 0.875rem;
  color: white;
  text-align: left;
  margin-bottom: 0.9375rem; }
  @media screen and (max-width: 480px) {
    .comments__caption {
      font-size: 1.5rem;
      text-align: center; } }
  @media screen and (max-width: 768px) {
    .comments__caption {
      margin: 0 auto;
      margin-bottom: 10px; } }

.comments__comment-text {
  color: white;
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  margin-bottom: 0.625rem;
  line-height: 1.5; }
  @media screen and (max-width: 480px) {
    .comments__comment-text {
      display: none; } }
  @media screen and (max-width: 768px) {
    .comments__comment-text {
      line-height: 2; } }

.comments__caption, .comments__comment-text, .comments__button {
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 2; }

.reviews__comments:hover:before {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .6; }

.reviews__comments:hover .comments__caption {
  opacity: 1; }

.reviews__comments:hover .comments__comment-text {
  opacity: 1; }

.reviews__comments:hover .comments__button {
  opacity: 1; }

/* .map {
  width: 100%;
  height: 100%; } */

.section--contacts {
  position: relative; }

.section--contacts__footer {
  width: 100%;
  background: url(../img/bg/bg7.jpg) center no-repeat;
  padding: 0.4375rem 4.375rem 0.4375rem 4.375rem;
  z-index: 2;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.8125rem;
  line-height: 1.9;
  letter-spacing: 0.01875rem;
  position: absolute; }
  @media screen and (max-width: 480px) {
    .contacts__footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-line-pack: center;
      align-content: center;
      margin: 0 auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.footer__contact {
  margin-left: 0 auto; }
  @media screen and (max-width: 480px) {
    .footer__contact {
      margin: 0 auto;
      text-align: center; } }

.footer__text-one {
  color: white; }
  @media screen and (max-width: 480px) {
    .footer__text-one {
      margin-bottom: 10px; } }

.footer__text-two {
  color: #e25028;
  font-family: 'ubuntubold'; }

.social__icon {
  display: inline-block;
  vertical-align: middle;
  fill: white;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 1rem;
  opacity: .5;
  margin-top: 0.875rem; }
  .social__icon:hover {
    opacity: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.social__link {
  text-decoration: none; }

.text-two__link {
  color: #e25028;
  text-decoration: none; }

@media screen and (max-width: 480px) {
  .footer__social {
    margin: 0 auto; } }

.team {
  background: url(../img/bg/bg4.jpg) 50% 0 no-repeat;
  background-size: cover;
  position: relative; }

.team__right-content {
  position: relative;
  height: 100%;
  width: 50%;
  z-index: 3;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(47, 50, 52, 0.9);
  padding-left: 6.25rem;
  padding-right: 5rem;
  padding-top: 6.875rem;
  position: absolute;
  right: 0%;
  top: 0; }
  @media screen and (max-width: 768px) {
    .team__right-content {
      width: 100%;
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      padding-right: 0;
      padding-left: 0; } }

.team__continer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .team__continer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 50%; } }
  @media screen and (max-width: 480px) {
    .team__continer {
      width: 100%; } }

@media screen and (max-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center; } }

.section__title--team {
  font-weight: 100;
  margin-bottom: 1.875rem; }
  @media screen and (max-width: 480px) {
    .section__title--team {
      font-size: 3.125rem; } }

.team__item {
  font-family: 'gagalinregular';
  font-weight: 100;
  font-size: 0.875rem;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .team__item {
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.svg_com {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  margin-right: 0.3125rem; }
  .svg_com:hover {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.team__item {
  height: 1.25rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  overflow: hidden;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 480px) {
    .team__item {
      height: 1.875rem; } }
  .team__item:hover {
    color: #f9b43b;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.team__item--active {
  height: auto;
  overflow: visible;
  color: #f9b43b;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .team__item--active .team__undercaption {
    color: white; }
  .team__item--active .text__undertext {
    color: white; }
  .team__item--active .team__undercaption {
    opacity: 1; }
  .team__item--active .text__undertext {
    opacity: 1; }
  .team__item--active .team__container-img {
    opacity: 1; }

.team__undercaption {
  opacity: 0; }

.text__undertext {
  opacity: 0; }

.team__container-img {
  opacity: 0; }

.team__item--active .svg_com {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.team__img {
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 100%;
  visibility: hidden; }

.team__item {
  margin-bottom: 25px; }

@media screen and (max-width: 480px) {
  .team__link {
    font-size: 1.5625rem; } }

.team__container-img {
  width: 5rem;
  height: 5rem;
  margin-top: 1.25rem;
  background: url(../img/content/face.jpg) 65% 0 no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 0.625rem;
  margin-left: 2.5rem; }
  @media screen and (max-width: 768px) {
    .team__container-img {
      margin: 0 auto;
      margin-bottom: 0.625rem;
      margin-top: 0.625rem; } }

.team__undercaption {
  font-family: 'ubuntubold'; }
  @media screen and (max-width: 768px) {
    .team__undercaption {
      margin-bottom: 0.625rem; } }

.text__undertext {
  font-family: 'ubuntulight'; }

.team__underinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .team__underinfo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center; } }

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.section__menu {
  background: url(../img/bg/bg5.jpg) center no-repeat;
  background-size: cover;
  position: relative; }

.section__title--menu {
  font-weight: 100;
  position: absolute;
  top: 6.25rem;
  left: 5.625rem;
  color: white;
  letter-spacing: 2px; }
  @media screen and (max-width: 480px) {
    .section__title--menu {
      top: 1.875rem;
      left: 0.625rem; } }

.menu__right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  color: white;
  font-size: 2.5rem;
  font-family: 'gagalinregular';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.menu__content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid black;
  width: 5rem;
  position: relative;
  cursor: pointer; }
  .menu__content:hover .menu__title {
    color: #f9b43b; }
  .menu__content:before {
    content: "";
    height: 100%;
    width: 5rem;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .7; }

.menu__content:nth-child(1):before {
  content: "";
  height: 100%;
  width: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/content/menu1.jpg) center no-repeat;
  background-size: cover;
  opacity: .9; }

.menu__content:nth-child(2):before {
  content: "";
  height: 100%;
  width: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/content/menu2.jpg) center no-repeat;
  background-size: cover;
  opacity: .9; }

.menu__content:nth-child(3):before {
  content: "";
  height: 100%;
  width: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/content/menu3.jpg) center no-repeat;
  background-size: cover;
  opacity: .9; }

.menu__content--active {
  width: 33.75rem; }
  @media screen and (max-width: 480px) {
    .menu__content--active {
      width: 15.625rem; } }

.menu__content--active .menu__title {
  position: relative;
  top: 17.5rem;
  left: -15rem;
  text-align: right;
  color: #f9b43b; }
  @media screen and (max-width: 768px) {
    .menu__content--active .menu__title {
      top: 23.75rem; } }
  @media screen and (max-width: 480px) {
    .menu__content--active .menu__title {
      top: 26.25rem;
      left: -5rem; } }

.menu__content--active:nth-child(1) {
  background: url(../img/content/menu1.jpg) left no-repeat;
  background-size: 80px 100%; }

.menu__content--active:nth-child(2) {
  background: url(../img/content/menu2.jpg) left no-repeat;
  background-size: 80px 100%; }

.menu__content--active:nth-child(3) {
  background: url(../img/content/menu3.jpg) left top no-repeat;
  background-size: 80px 100%; }

.menu__content--active .menu__text {
  -webkit-transform: translate(0, -160px);
  -ms-transform: translate(0, -160px);
  transform: translate(0, -160px);
  font-size: 0.875rem;
  padding: 3.125rem 3.125rem 3.125rem 6.25rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  @media screen and (max-width: 480px) {
    .menu__content--active .menu__text {
      padding: 0 0 0 5rem;
      top: 18.75rem; } }
  @media screen and (max-width: 768px) {
    .menu__content--active .menu__text {
      top: 7.5rem; } }

.menu__title {
  -webkit-transform: rotateZ(270deg);
  -ms-transform: rotate(270deg);
  transform: rotateZ(270deg);
  white-space: nowrap;
  position: relative;
  font-weight: 100;
  text-align: right;
  top: 38.75rem;
  cursor: pointer; }
  @media screen and (max-height: 694px) {
    .menu__title {
      top: 30rem; } }
  @media screen and (max-width: 480px) {
    .menu__title {
      top: 32.5rem; } }

.menu__text {
  font-size: 0.875rem;
  font-family: 'ubuntulight';
  overflow: hidden;
  display: none;
  position: relative;
  margin-top: 6.25rem; }

.menu__content--active:nth-child(1):before {
  content: "";
  position: absolute;
  top: 0;
  left: 5rem;
  background: #2f3234;
  width: 33.75rem;
  height: 100%;
  opacity: .9; }

.menu__content--active:nth-child(2):before {
  content: "";
  position: absolute;
  top: 0;
  left: 5rem;
  background: #2f3234;
  width: 33.75rem;
  height: 100%;
  opacity: .9; }

.menu__content--active:nth-child(3):before {
  content: "";
  position: absolute;
  top: 0;
  left: 5rem;
  background: #2f3234;
  width: 33.75rem;
  height: 100%;
  opacity: .9; }

.slider {
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(#f08a2e), to(#f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b, #f08a2e, #f9b43b);
  background: -o-linear-gradient(bottom, #f9b43b, #f08a2e, #f9b43b);
  background: linear-gradient(0deg, #f9b43b, #f08a2e, #f9b43b);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 20px; }

.slider__container {
  max-width: 58.75rem;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.composition__table {
  position: absolute;
  left: 100%;
  top: 0;
  color: #2f3234;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.25rem;
  border-radius: 0.3125rem;
  z-index: 20;
  display: none; }

.composition__table tr td:nth-child(2) {
  padding-left: 1.25rem;
  text-align: left; }

.composition__table tr td:nth-child(3) {
  padding-left: 3.75rem; }

.slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 768px) {
    .slider__box {
      overflow: hidden;
      margin-left: 15%; } }
  @media screen and (max-width: 480px) {
    .slider__box {
      width: 400px;
      overflow: hidden;
      padding-left: 16%;
      margin-left: 0;
      padding-right: 130px; } }
  @media screen and (max-width: 414px) {
    .slider__box {
      overflow: hidden;
      margin-left: 0;
      padding-left: 16%;
      width: 360px; } }
  @media screen and (max-width: 320px) {
    .slider__box {
      overflow: hidden;
      margin-left: 0;
      padding-left: 18%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 280px; } }

.slider__arrow {
  cursor: pointer; }

.slider__content {
  position: relative;
  margin-right: 6.25rem;
  left: 3.125rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  @media screen and (max-width: 768px) {
    .slider__content {
      margin-right: 180px; } }
  @media screen and (max-width: 480px) {
    .slider__content {
      left: 1.25rem;
      margin-right: 12.5rem; } }
  @media screen and (max-width: 414px) {
    .slider__content {
      left: 0;
      margin-right: 12.5rem; } }
  @media screen and (max-width: 320px) {
    .slider__content {
      left: -20px;
      margin-right: 12.5rem; } }

#pp-nav li .active span,
.pp-slidesNav .active span {
  background: url(../img/icons/el2.png) center no-repeat;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    #pp-nav li .active span,
    .pp-slidesNav .active span {
      display: none; } }

#pp-nav span,
.pp-slidesNav span {
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: url(../img/icons/el.png) center no-repeat;
  border-radius: 50%;
  position: absolute;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    #pp-nav span,
    .pp-slidesNav span {
      display: none; } }

#pp-nav ul,
.pp-slidesNav ul {
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 768px) {
    #pp-nav ul,
    .pp-slidesNav ul {
      display: none; } }

#pp-nav li,
.pp-slidesNav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }
  @media screen and (max-width: 768px) {
    #pp-nav li,
    .pp-slidesNav li {
      display: none; } }

.pp-slidesNav li {
  display: inline-block; }
  @media screen and (max-width: 768px) {
    .pp-slidesNav li {
      display: none; } }

#pp-nav li a,
.pp-slidesNav li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }
  @media screen and (max-width: 768px) {
    #pp-nav li a,
    .pp-slidesNav li a {
      display: none; } }

      .form {
        background: url(../img/bg/bg7.jpg) center no-repeat;
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        @media screen and (max-width: 768px) {
          .form {
            padding: 0 6.25rem 0 6.25rem; } }
        @media screen and (max-width: 480px) {
          .form {
            padding-left: 2.1875rem;
            padding-right: 0.625rem; } }
      
      .form .pp-tableCell {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      
.pp-tableCell
.section__title--form {
   text-align: center; }  /* почему-то не центрует титул */
  @media screen and (max-width: 480px) {
    .pp-tableCell
.section__title--form {
      font-size: 3.5rem; } }

.forms {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .forms {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }

.input__name-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media screen and (max-width: 768px) {
    .input__name-phone {
      margin: 0 auto;
      width: 100%; } }
  .input__name-phone .input__name {
    width: 100%;
    border-radius: 0.3125rem;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: 2px solid transparent; }
    .input__name-phone .input__name:focus {
      border: 2px solid #f9b43b; }

@media screen and (max-width: 768px) {
  .input__label--name {
    margin: 0 auto;
    width: 100%; } }

@media screen and (max-width: 768px) {
  .input__name:nth-child(1) {
    margin-right: 0; } }

.input__label {
  color: white;
  margin-right: 20px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.input__street {
  margin-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .input__street {
      margin: 0 auto;
      width: 100%;
      margin-bottom: 20px; } }
  .input__street .street__input {
    width: 96%;
    border-radius: 0.3125rem;
    padding: 0.625rem 1.25rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: 2px solid transparent;
    margin-bottom: 1.25rem; }
    .input__street .street__input:focus {
      border: 2px solid #f9b43b; }
    @media screen and (max-width: 768px) {
      .input__street .street__input {
        margin: 0 auto; } }
    @media screen and (max-width: 768px) {
      .input__street .street__input {
        width: 96%; } }
    @media screen and (max-width: 480px) {
      .input__street .street__input {
        width: 94%; } }

.input__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media screen and (max-width: 768px) {
    .input__home {
      margin: 0 auto;
      width: 100%;
      margin-bottom: 20px; } }
  .input__home .home__input {
    width: 100%;
    border-radius: 0.3125rem;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    outline: none;
    border: 2px solid transparent; }
    .input__home .home__input:focus {
      border: 2px solid #f9b43b; }

.form__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .form__comment {
      margin: 0 auto; } }

.comment__text {
  width: 100%;
  resize: none;
  height: 7.5rem;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  outline: none;
  border-radius: 0.3125rem;
  border: 0.03125rem solid lightgray; }
  .comment__text:focus {
    border: 0.125rem solid #f9b43b;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.form__radio {
  margin-top: 20px;
  margin-bottom: 1.25rem;
  -webkit-transform: translateX(-1.25rem);
  -ms-transform: translateX(-1.25rem);
  transform: translateX(-1.25rem); }
  @media screen and (max-width: 480px) {
    .form__radio {
      margin: 0 auto;
      margin-bottom: 20px;
      margin-top: 20px;
      text-align: right; } }

.radio__radiobutton {
  height: 0.9375rem;
  width: 0.9375rem;
  opacity: 0;
  display: none; }

.form__label {
  margin-right: 1.25rem;
  color: #e1e1e1;
  padding-top: 0.625rem;
  padding-left: 1.875rem;
  background: url(../img/icons/el3.png) no-repeat 0% 90%; }
  .form__label--checkbox {
    color: white;
    padding-left: 30px;
    background: url(../img/icons/rec1.png) no-repeat 0% 90%; }
  .form__label:nth-child(2) {
    margin-left: 1.25rem; }

.radio__radiobutton:checked + .form__label {
  background: url(../img/icons/el4.png) no-repeat 0% 90%; }

.check__checkbox {
  display: none; }

.check__checkbox:checked + .form__label--checkbox {
  background: url(../img/icons/rec2.png) no-repeat 0% 90%; }

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px); }
  @media screen and (max-width: 480px) {
    .form__button {
      margin: 0 auto; } }

.form__clear-link {
  color: white;
  margin-left: 20px;
  padding: 0.625rem 1.0625rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none; }
  .form__clear-link:hover {
    text-decoration: underline; }

@media screen and (max-width: 480px) {
  .form__check {
    margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */