html {
    @include tablets {
        font-size: 13px;
    }
    @include phones {
        font-size: 12px;
    }
}
body {
    margin: 0;
    padding: 0;
    font-size: rem(16px);
    font-family: 'ubuntu', Arial, Helvetica, sans-serif;
    line-height: 1.42;
    color: $dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: grayscale;
}
h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
    position: relative;
}

*, *::before, *::after {
    box-sizing: border-box;
    transition: .3s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;

    width: rem(1px);
    height: rem(1px);
    margin: rem(-1px);
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
