.reviews {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	flex-wrap: wrap;
}
.reviews .pp-tableCell {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	flex-wrap: wrap;
}
.reviews__comments {
	position: relative;
	padding: 5%;
	box-sizing: border-box;
	background: gray;
	width: 25%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	filter: grayscale(100%);
	@include tablets {
		width: 50%;
		height: 25vh;
		display: flex;
		text-align: center;
		align-content: center;
		justify-content: center;
		padding: 5%;
	}
}
.reviews__comments:nth-child(1) {
	background: url(../img/content/photo8.jpg) 50% 30% no-repeat;
	background-size: cover;
	@include tablets {
		background: url(../img/content/photo8.jpg) 50% 50% no-repeat;
		background-size: cover;
    }
}
.reviews__comments:nth-child(2) {
	background: url(../img/content/photo7.jpg) center no-repeat;
	background-size: cover;
	@include tablets {
		background: url(../img/content/photo7.jpg) 50% 10% no-repeat;
		background-size: cover;
    }
}
.reviews__comments:nth-child(3) {
	background: url(../img/content/photo6.jpg) 65% 15% no-repeat;
	background-size: 300%;
	@include tablets {
		background: url(../img/content/photo6.jpg) 60% 20% no-repeat;
		background-size: 200%;
    }
}
.reviews__comments:nth-child(4) {
	background: url(../img/content/photo1.jpg) 80% 100% no-repeat;
	background-size: cover;
	@include tablets {
		background: url(../img/content/photo1.jpg) 0% 0% no-repeat;
		background-size: cover;
    }
}
.reviews__comments:nth-child(5) {
	background: url(../img/content/photo5.jpg) center no-repeat;
	background-size: cover;
}
.reviews__comments:nth-child(6) {
	background: url(../img/content/photo4.jpg) 30% 100% no-repeat;
	background-size: cover;
}
.reviews__comments:nth-child(7) {
	background: url(../img/content/photo3.jpg) center no-repeat;
	background-size: cover;
}
.reviews__comments:nth-child(8) {
	background: url(../img/content/photo2.jpg) center no-repeat;
	background-size: cover;
}
.comments__button {
	background: #2f3234;
	text-align: center;
	padding: rem(14px) rem(15px) rem(14px) rem(20px);
	border-radius: rem(5px);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	font-size: rem(13px);
	text-transform: uppercase;
	font-family: 'ubuntumedium';
	@include tablets {
		margin: 0 auto;
    }
    &:hover {
        background: #1f2122;
    }
}
.comments__caption {
    font-family: 'gagalinregular';
    font-size: rem(14px);
    color: white;
    text-align: left;
	margin-bottom: rem(15px);
	@include phones {
		font-size: rem(24px);
		text-align: center;	
    }	
	@include tablets {
		margin: 0 auto;
		margin-bottom: 10px;
    }
}
.comments__comment-text {
	color: white;
    font-family: 'ubuntulight';
    font-size: rem(14px);
    margin-bottom: rem(10px);
	line-height: 1.5;
	@include phones {
		display: none;
    }	
	@include tablets {
		line-height: 2;
    }
}
.comments__caption, .comments__comment-text, .comments__button {
	opacity: 0;
	transition: .3s;
	z-index: 2;
}
.reviews__comments:hover {
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		background: black;
		position: absolute;
		top: 0;
		left: 0;
		opacity: .6;
	}
}
.reviews__comments:hover .comments__caption {
	opacity: 1;
}
.reviews__comments:hover .comments__comment-text {
	opacity: 1;
}
.reviews__comments:hover .comments__button  {
	opacity: 1;
}